<div class="content-container">
    <div class="left-side">

        <ui-view></ui-view>
        <button class="btn btn-warning" style="margin:10px; padding:10px" ng-click="vm.tutorial()"><i class="fa fa-lightbulb-o" aria-hidden="true"> Tutorial</i></button>
        <br>
        <div class="inline">
            <div class="inline" style="margin:0px; padding:0px">
                <textarea data-step="1" data-intro="Welcome to Chinese Stroke Wars! Enter Chinese text here to have it read back aloud" id="textarea" class='autoExpand' rows='3' data-min-rows='3' placeholder='Enter Chinese Characters'>输入中文</textarea><br>
                <button data-step="2" data-intro="After entering Chinese characters, press play" ng-click="vm.speak()" type="button" class="btn btn-basic" id="playbtn">Play Text <i class="fa fa-play" aria-hidden="true"></i></button>
                <button data-step="3" data-intro="If the player freezes for any reason, press this button to refresh the play queue" ng-click="vm.refresh()" type="button" class="btn btn-basic">Refresh Player <i class="fa fa-refresh" aria-hidden="true"></i></button>
            </div>

            <div class="inline">
                <textarea data-step="6" data-intro="Speech-to-text dictations will appear here" id="text" class='autoExpand' rows='3' data-min-rows='3' placeholder='Speech dictation will appear here'></textarea><br>
                <button data-step="7" data-intro="Press pla, then align microphone with source of Chinese audio" ng-click="vm.speechToText()" type="button" ng-class="{recording: vm.playerStatus.isActive}" class="btn btn-basic" id="playbtn">Begin Speech-to-text <i class="fa fa-play" aria-hidden="true"></i></button>
                <!--<button data-step="8" data-intro="When you are finished with the speech-to-text dictation, turn off the microphone" ng-click="vm.stopSpeech()" type="button" class="btn btn-basic">Stop Speech-to-text <i class="fa fa-refresh" aria-hidden="true"></i></button>-->
            </div>
        </div>
        <!--<pre>{{vm|json}}<<!--<pre>{{vm|json}}</pre>-->

        <div>
            <div class="form-group" style="margin:0px; padding:10px; display:inline-block">
                <p style="color:white;">Enter A Character To Decompose </p>
                <input type="text" ng-model="vm.character" data-step="4" data-intro="Enter a Chinese character here to break character into it's building block components" />
                <br>
                <button type="button" class="btn btn-success" style="margin-top:5px;" ng-click="vm.submit()">Submit</button>
            </div>

            <div class="form-group" style="margin:0px; padding:10px; display:inline-block">
                <p style="color:white;">Chinese-to-English dictionary </p>
                <input type="text" ng-model="vm.ceditEntry" data-step="7" data-intro="Enter Chinese characters to look up meaning with CC-Cedit dictionary" />
                <br />
                <button type="button" class="btn btn-info" style="margin-top:5px;" ng-click="vm.dictionary()">Look Up</button>
            </div>

            <div style="display:inline-block">
                <textarea ng-model="vm.ceditDefinition" data-step="8" data-intro="CC-Cedit definition will appear here" id="text" class='autoExpand' rows='3' data-min-rows='3' placeholder='CC-Cedit definition will appear here'></textarea><br>
            </div>
        </div>

        <div class="multipleCharacters">


            <div ng-repeat="components in vm.characterData">
                <div data-step="5" data-intro="After clicking the submit button, the decomposed character components will display here" id="wholeCharacter" class="boxed" style="width:80px;height:80px;background-color:rgba(0, 0, 0, 0.5);font-size: 50px;color:white;">
                    {{components[0].WholeCharacter}}
                </div>
                <div data-step="6" data-intro="This is where the component decomposition will appear" class="inline" ng-repeat="component in components" style="color:white;">
                    <p id="component" class="circle">{{component.Component}}</p>
                    <p style="color:white;">{{component.Meaning}}</p>
                    <p id="componentPinyin">Pinyin</p>
                </div>
            </div>
        </div>



        <div ng-if="vm.isLoading" class="lds-css ng-scope" style="width: 200px; height: 200px;">
            <div class="lds-spinner" style="100%;height:100%"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
            <style type="text/css">
                @keyframes lds-spinner {
                    0% {
                        opacity: 1;
                    }

                    100% {
                        opacity: 0;
                    }
                }

                @-webkit-keyframes lds-spinner {
                    0% {
                        opacity: 1;
                    }

                    100% {
                        opacity: 0;
                    }
                }

                .lds-spinner {
                    position: relative;
                }

                    .lds-spinner div {
                        left: 94px;
                        top: 48px;
                        position: absolute;
                        -webkit-animation: lds-spinner linear 1s infinite;
                        animation: lds-spinner linear 1s infinite;
                        background: turquoise;
                        width: 12px;
                        height: 24px;
                        border-radius: 40%;
                        -webkit-transform-origin: 6px 52px;
                        transform-origin: 6px 52px;
                    }

                        .lds-spinner div:nth-child(1) {
                            -webkit-transform: rotate(0deg);
                            transform: rotate(0deg);
                            -webkit-animation-delay: -0.916666666666667s;
                            animation-delay: -0.916666666666667s;
                        }

                        .lds-spinner div:nth-child(2) {
                            -webkit-transform: rotate(30deg);
                            transform: rotate(30deg);
                            -webkit-animation-delay: -0.833333333333333s;
                            animation-delay: -0.833333333333333s;
                        }

                        .lds-spinner div:nth-child(3) {
                            -webkit-transform: rotate(60deg);
                            transform: rotate(60deg);
                            -webkit-animation-delay: -0.75s;
                            animation-delay: -0.75s;
                        }

                        .lds-spinner div:nth-child(4) {
                            -webkit-transform: rotate(90deg);
                            transform: rotate(90deg);
                            -webkit-animation-delay: -0.666666666666667s;
                            animation-delay: -0.666666666666667s;
                        }

                        .lds-spinner div:nth-child(5) {
                            -webkit-transform: rotate(120deg);
                            transform: rotate(120deg);
                            -webkit-animation-delay: -0.583333333333333s;
                            animation-delay: -0.583333333333333s;
                        }

                        .lds-spinner div:nth-child(6) {
                            -webkit-transform: rotate(150deg);
                            transform: rotate(150deg);
                            -webkit-animation-delay: -0.5s;
                            animation-delay: -0.5s;
                        }

                        .lds-spinner div:nth-child(7) {
                            -webkit-transform: rotate(180deg);
                            transform: rotate(180deg);
                            -webkit-animation-delay: -0.416666666666667s;
                            animation-delay: -0.416666666666667s;
                        }

                        .lds-spinner div:nth-child(8) {
                            -webkit-transform: rotate(210deg);
                            transform: rotate(210deg);
                            -webkit-animation-delay: -0.333333333333333s;
                            animation-delay: -0.333333333333333s;
                        }

                        .lds-spinner div:nth-child(9) {
                            -webkit-transform: rotate(240deg);
                            transform: rotate(240deg);
                            -webkit-animation-delay: -0.25s;
                            animation-delay: -0.25s;
                        }

                        .lds-spinner div:nth-child(10) {
                            -webkit-transform: rotate(270deg);
                            transform: rotate(270deg);
                            -webkit-animation-delay: -0.166666666666667s;
                            animation-delay: -0.166666666666667s;
                        }

                        .lds-spinner div:nth-child(11) {
                            -webkit-transform: rotate(300deg);
                            transform: rotate(300deg);
                            -webkit-animation-delay: -0.083333333333333s;
                            animation-delay: -0.083333333333333s;
                        }

                        .lds-spinner div:nth-child(12) {
                            -webkit-transform: rotate(330deg);
                            transform: rotate(330deg);
                            -webkit-animation-delay: 0s;
                            animation-delay: 0s;
                        }

                .lds-spinner {
                    width: 200px !important;
                    height: 200px !important;
                    -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
                    transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
                }
            </style>
        </div>

    </div>
    <div class="right-side">
        <textarea id="textarea" style="font-size:50px; width:850px; height:300px" class='autoExpand competitionBox' placeholder='Pinyin and Definition'>{{vm.competitionPinyin}}</textarea><br>
        <div style="font-size:200px; width:850px; height:450px; color:black; background-color:white" class='autoExpand competitionBox' placeholder='请稍等'><p hidden id="competitionCharacter">{{vm.randomWord}}</p></div><br>
        <button type="button" class="btn btn-success" style="margin-top:5px;" ng-click="vm.peek()">Peek</button>
        <button type="button" class="btn btn-basic" style="margin-top:5px;" ng-click="vm.show()">Show</button>
        <button type="button" class="btn btn-warning" style="margin-top:5px;" ng-click="vm.nextMatch()">Next Match</button>
        <!--<button type="button" class="btn btn-danger" style="margin-top:5px;" ng-click="vm.feedAction()">Start/Pause Feed</button>-->
        <button type="button" class="btn btn-info" style="margin-top:5px;" ng-click="vm.score()">Score</button>
        <button id="decomposeBtn" type="button" class="btn btn-danger" style="margin-top:5px;" ng-click="vm.decompose()">Decompose</button>
        <label style="color:white;" class="checkbox-inline"><input type="checkbox" ng-click="vm.selectLevel(1)">HSK 1</label>
        <label style="color:white;" class="checkbox-inline"><input type="checkbox" ng-click="vm.selectLevel(2)">HSK 2</label>
        <label style="color:white;" class="checkbox-inline"><input type="checkbox" ng-click="vm.selectLevel(3)">HSK 3</label>
        <label style="color:white;" class="checkbox-inline"><input type="checkbox" ng-click="vm.selectLevel(4)">HSK 4</label>
        <label style="color:white;" class="checkbox-inline"><input type="checkbox" ng-click="vm.selectLevel(5)">HSK 5</label>
        <label style="color:white;" class="checkbox-inline"><input type="checkbox" ng-click="vm.selectLevel(6)">HSK 6</label>
    </div>

</div>


<script type="text/javascript">

    $(document)
        .one('focus.autoExpand', 'textarea.autoExpand', function () {
            var savedValue = this.value;
            this.value = '';
            this.baseScrollHeight = this.scrollHeight;
            this.value = savedValue;
        })
        .on('input.autoExpand', 'textarea.autoExpand', function () {
            var minRows = this.getAttribute('data-min-rows') | 0, rows;
            this.rows = minRows;
            rows = Math.ceil((this.scrollHeight - this.baseScrollHeight) / 16);
            this.rows = minRows + rows;
        });

</script>
