

    <ui-view></ui-view>
    <textarea id="textarea" style="width:200px;height:200px;">输入中文</textarea><br>
    <button id="playbtn">Enter Chinese Text <i class="fa fa-play" aria-hidden="true"></i></button>
    <button>Stop <i class="fa fa-stop" aria-hidden="true"></i></button>
<!--<pre>{{vm|json}}</pre>-->

    <div>
        <p style="color:white;">Enter A Character To Decompose: </p>
        <input type="text" ng-model="vm.character" />
        <button ng-click="vm.submit()">Submit</button>
    </div>

    <div style="color:white;">
        <p>{{vm.characterData[0].WholeCharacter}}</p>
        <ul>
            <li ng-repeat="component in vm.characterData">{{component.Component}} : {{component.Meaning}}</li>
        </ul>
    </div>

    <script type="text/javascript">

       
        var u = new SpeechSynthesisUtterance();
        u.lang = 'zh-CN';
        u.rate = 1.2;

        document.getElementById('playbtn').onclick = function () {

            u.text = document.getElementById('textarea').value;
            var text = document.getElementById('textarea').value;

            speechSynthesis.speak(u);




        };

    </script>
